@model IEnumerable<Core.DTO.DATTOUR>
@{
    ViewBag.Title = "List";
    Core.DTO.DOAN dd = ViewBag.doan;
    List<Core.DTO.CTCHIP> lct = ViewBag.cp;
}

<h2>Chi tiết đoàn</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên đoàn")
        </th>
        <th>
            @Html.DisplayName("Tour")
        </th>
        <th>
            @Html.DisplayName("Ngày bắt đầu")
        </th>
        <th>
            @Html.DisplayName("Ngày kết thúc")
        </th>
        <th>
            @Html.DisplayName("Chi tiết nội dung")
        </th>
        <th>
            @Html.DisplayName("Chi phí")
        </th>
    </tr>
    <tr>

        <td>
            @Html.DisplayFor(item => dd.TENDOAN)
        </td>
        <td>
            @Html.DisplayFor(item => dd.TOUR.TENTOUR)
        </td>
        <td>
            @Html.DisplayFor(item => dd.NGAYBD)
        </td>
        <td>
            @Html.DisplayFor(item => dd.NGAYKT)
        </td>
        <td>
            @Html.DisplayFor(item => dd.CHITIET)
        </td>
        <td>
            @Html.DisplayFor(item => dd.CHIPHI) đ
        </td>
    </tr>
</table>
<br />
<h2>Chi phí</h2>
@Html.ActionLink("Thêm chi phí", "Addg", new { id=dd.ID})
<table class="table">
    <tr>
        <th>
            Tên chi phí
        </th>
        <th>
            Ngày
        </th>
        <th>
            Số tiền
        </th>
    </tr>
    @foreach(Core.DTO.CTCHIP ct in lct)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ct.TENCHIPHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ct.NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ct.SOTIEN) đ
        </td>
    </tr>
    }
</table>
<br />
<h2>Danh sách khách</h2>
<h4>Số khách: @Model.Count()</h4>
@Html.ActionLink("Thêm khách", "Add", new { id = dd.ID })
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Họ tên")
        </th>
        <th>
            @Html.DisplayName("CMND")
        </th>
        <th>
            @Html.DisplayName("Giới tính")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Điện thoại")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.HOTEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.CMND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.GIOITINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.DT)
            </td>
            <td>
                @Html.ActionLink("Xoá", "Delete", new { id=item.ID})
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Về", "Index")

