@model IEnumerable<Core.DTO.CTDD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENDIADIEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENTP_NUOC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDIADIEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENTP_NUOC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
            
        </td>
    </tr>
}

</table>
