@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tour du lịch</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>@Html.ActionLink("Đoàn", "Index", "QLDoan")</h4>
    </div>
    <div class="col-md-4">
        <h4>@Html.ActionLink("Nhân viên", "Index", "QLNV")</h4>
    </div>
    <div class="col-md-4">
        <h4>@Html.ActionLink("Khách hàng", "Index", "KHACHHANG")</h4>
        <h4>@Html.ActionLink("Chi tiết địa điểm", "Index", "CTDD")</h4>
        <h4>@Html.ActionLink("Nhiệm vụ", "Index", "NHIEMVU")</h4>
    </div>

</div>